body{
    background-image:url("./image/1.jpg");
    background-size:cover; /* Stretches the image to fill the container */
   
}
img{
    width:40px;
    height: 40px;
    margin-top: 13px;
    margin-left: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border:1px solid wheat;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);   
    
}
h1{
    padding-left: 10px;
    font-size: 25px;
    
}
ul{
    list-style: none;
    display: flex;
    margin-left: 950px;
    
}
ul li a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Optional: inherits text color from parent */
}

ul li a:hover{
    color: white; /* Change text color on focus */
}
li{
    padding: 10px;
    font-size: 20px;
    margin-left:0px;
}

#search{
    display: flex;
    position: absolute;
    right: 10px;
    height:40px;
    width: 500px;
    padding:10px;
    padding-left:0 ;
    margin-top: 10px;
    margin-left:0;
    justify-content: flex-end; 

}
#serc{
    width: 300px;
    border-radius: 25px 0 0 25px;
    border: 1px solid white;
    
}
#clear{
    width: 70px;
    height: auto;
    background-color: #fcfcfc;
    border: 1px;
    border-radius: 10px;
    margin-left: 10px;

}

#sbtn{
    border: 0px;
    border-radius: 0 25px 25px 0;
    width: 50px;
    background-color: rgb(128, 255, 255);

}

#sbtn:hover{
    background-color: rgb(0, 255, 255);
}
#home{
    margin-top: 0px;
}


.intro h2{
    font-size: 70px;
    color: #fcfcfc; 
    text-shadow: 1px 1px 5px rgb(0, 0, 0); 
    
    
}

.intro p{
    border: 1px;
    width: 500px;
    height: auto;
    color: rgb(255, 255, 255);
    margin-left: 100px;

    font-size: 20px;
    text-shadow: 1px 1px 5px black;
}

#btn{
    padding: 10px;
    border-radius: 5px;
    /* background-color: rgb(105, 230, 255); */
    background-color:#fcfcfc00;
    backdrop-filter: blur(10px);
    margin-top: 60px;
    margin-left: 20px;
    color: #fcfcfc;
    font-size: 15px;
    border: 1px solid white;
    
}

.social-icons {
    margin-top: 99px; /* Space above the icons */
}

.social-icons a {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Default color for icons */
    margin: 0 15px;
     /* Space between icons */
    font-size: 25px; /* Size of the icons */
    transition: color 0.3s; /* Transition effect for hover */
}

.social-icons a:hover {
    color: #00ff6a; /* Change color on hover */
}


form{
    display: none;
    /* display: flex; */
    flex-direction: column;
    border: 1px solid white;
    border-radius: 40px;
    align-items:center ;
    justify-content: center;
   
    backdrop-filter: blur(10px);
    width: 500px;
    height: 600px;
    
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 35%;
    top: 60px;
}
form h2{

    text-align: center;
    margin-bottom: 20px; 
    /* margin-top: 0px; */
}
label{
    
    color: #000000;
    font-size: 20px;

    display: block;
    margin: 0px;
    padding: 0;
}
input,select{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 0;
    }


    #bttn{

    padding: 10px;
    margin-top: 20px;
    width: 25%;
    border-radius: 5px;
    /* background-color: rgb(105, 230, 255); */
    background-color: #4cae4c;
    backdrop-filter: blur(10px);
    color: #070606;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);

}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bk{
    max-width: 500px;
    margin: 20px auto;
    padding:0 20px;
    background: rgba(43, 25, 25, 0.244);
    border-radius: 5px;
}


#date{
    display: flex;

}
#date input{
    width: 45%;
    margin-left: 10px;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 48px;
    font-weight: bold;
    margin-left: auto;
    /* margin-left: 340px;
    margin-top:-25px; */

    position: absolute;
  top:-50px;
  right: 10px;
  
 
}

.close:hover,
.close:focus {
    color: rgb(245, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#b{
    display: none;
    font-size: 20px;
    background-color:rgba(255, 255, 255, 0.612);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
    top: 150px;
    left: 500px;
    width: 500px;
    max-height:200px ;
    align-items: center;
    padding: 20px;
    font-weight: 10px;
}
#b h1{
    color: #ff0000;
    text-shadow: 1px 1px 2px rgb(227, 87, 87);
    font-size: 30px;
    margin-left: 30%;
}

#b button{
    padding: 10px;
    background-color: rgb(133, 255, 96);
    margin-top: 10px;
    margin-left: 35%;
    width: 25%;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
}

#home{
    display: flex;
    margin-top: 0px;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space between items */
    padding: 0px; /* Optional: Add some padding to the container */
    overflow: hidden;

    max-width: 100%; /* Prevent container from exceeding the viewport width */
    overflow-x: auto;
}

#result{
    display: none;
    flex: 1; /* Allow boxes to grow and fill available space */
    margin: 0 10px; /* Add margin between boxes */
     /* Example background color */
    padding: 20px; /* Optional: Add some padding inside the boxes */
    text-align: center; /* Center text */
    margin-top: 100px;
    border-radius: 30px;
    width: 500px;
    background-color: #ffffff64;
    backdrop-filter: blur(10px);
    
}


